.contact-account{
    color: white !important;
 z-index: 10000;
 width: 70px !important;
position: fixed;
left: 0;
top: 250px;

&-icon{
    margin: 25px 15px;
    display: block;
}
&-icon:hover{
    color:#047D95 ;
}

}

.nav-menu {
   
width: 0px !important;
background-color: rgba(250, 250, 250, 0.5);
border-radius: 15px;
padding: 20px 0;
    overflow: hidden;
    transition: ease width 0.3s; /* <--- ease in */
  }
  .nav-menu-active {
    width: 85px; /* <--- set width percentage will not ease */
    transition: ease width 0.3s; /* <--- ease out */
    background-color: rgba(250, 250, 250, 0.5);
    border-radius: 15px;
    padding: 20px 0;
    a{
        color: white;
    }
  }
  #toggle {
    position: absolute;
    writing-mode: vertical-rl; 
  }
  .animate-charcter
{   
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #047D95 20%,
    #6d6d84 60%,
    #c2be47 80%,
    #ffffff 100%,
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
font-weight: 700;
font-size: 30px;
cursor: pointer;
    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

